apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "access_token": "my_access_token",
      "url": "my_artifactory.jfrog.io"
    }
